@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(212, 45%, 89%);
    --clr-grayish-blue: hsl(220, 15%, 55%);
    --clr-dark-blue: hsl(218, 44%, 22%);

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background-color: var(--clr-light-gray);
    font-family: 'Outfit', sans-serif;

    display: grid;
    place-items: center;
}

h1 {
    font-weight: 700;
    font-size: 1.35rem;
    color: var(--clr-dark-blue);
}

p {
    font-weight: 400;
    font-size: 15px;
    color: var(--clr-grayish-blue)
}

.card {
    background-color: var(--clr-white);
    border-radius: 1.25em;
    padding: 1em;
    margin: 1em;
    max-width: 20em;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

img {
    max-width: 100%;
    display: block;
    margin: 0;
}

.img-wrapper {
    border-radius: 0.75em;
    overflow: hidden;
}

.text {
    text-align: center;
    padding: 1.125em;
}